<section class="contact-container">
  <h2>{{ 'ContactUsTitle' | translate }}</h2>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">{{ 'ContactUsNameLabel' | translate }}</label>
      <input formControlName="name" id="name" type="text" placeholder="{{ 'ContactUsNamePlaceholder' | translate }}" />
      @if (f['name'].invalid && f['name'].touched){
        @for (error of getFormFieldErrors('name'); track error) {
          <mat-error>{{ error |  translate }}</mat-error>
        }
      }
    </div>

    <div class="form-group">
      <label for="email">{{ 'ContactUsEmailLabel' | translate }}</label>
      <input formControlName="email" id="email" type="email" placeholder="{{ 'ContactUsEmailPlaceholder' | translate }}" />
      @if (f['email'].invalid && f['email'].touched){
        @for (error of getFormFieldErrors('email'); track error) {
          <mat-error>{{ error |  translate }}</mat-error>
        }
      }
    </div>

    <div class="form-group">
      <label for="subject">{{ 'ContactUsSubjectLabel' | translate }}</label>
      <input formControlName="subject" id="subject" type="text" placeholder="{{ 'ContactUsSubjectPlaceholder' | translate }}" />
      @if (f['subject'].invalid && f['subject'].touched){
        @for (error of getFormFieldErrors('subject'); track error) {
          <mat-error>{{ error |  translate }}</mat-error>
        }
      }
    </div>

    <div class="form-group">
      <label for="message">{{ 'ContactUsMessageLabel' | translate }}</label>
      <textarea formControlName="message" id="message" rows="4" placeholder="{{ 'ContactUsMessagePlaceholder' | translate }}"></textarea>
      @if (f['message'].invalid && f['message'].touched){
        @for (error of getFormFieldErrors('message'); track error) {
          <mat-error>{{ error |  translate }}</mat-error>
        }
      }
    </div>

    <!-- Submit Button -->
    <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid">
      {{ 'ButtonSendMessage' | translate }}
    </button>
  </form>

</section>
