<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <security>
        <ipSecurity allowUnlisted="false">
          <!-- Cloudflare IPv4 ranges -->
          <add ipAddress="173.245.48.0" subnetMask="255.255.240.0" allowed="true" />
          <add ipAddress="103.21.244.0" subnetMask="255.255.252.0" allowed="true" />
          <add ipAddress="103.22.200.0" subnetMask="255.255.252.0" allowed="true" />
          <add ipAddress="103.31.4.0" subnetMask="255.255.252.0" allowed="true" />
          <add ipAddress="141.101.64.0" subnetMask="255.255.192.0" allowed="true" />
          <add ipAddress="108.162.192.0" subnetMask="255.255.192.0" allowed="true" />
          <add ipAddress="190.93.240.0" subnetMask="255.255.240.0" allowed="true" />
          <add ipAddress="188.114.96.0" subnetMask="255.255.240.0" allowed="true" />
          <add ipAddress="197.234.240.0" subnetMask="255.255.252.0" allowed="true" />
          <add ipAddress="198.41.128.0" subnetMask="255.255.128.0" allowed="true" />
          <add ipAddress="162.158.0.0" subnetMask="255.254.0.0" allowed="true" />
          <add ipAddress="104.16.0.0" subnetMask="255.248.0.0" allowed="true" />
          <add ipAddress="104.24.0.0" subnetMask="255.252.0.0" allowed="true" />
          <add ipAddress="172.64.0.0" subnetMask="255.248.0.0" allowed="true" />
          <add ipAddress="131.0.72.0" subnetMask="255.255.252.0" allowed="true" />
        </ipSecurity>
      </security>
    </system.webServer>
  </location>
</configuration>