.container > div {
  min-height: 100vh;
}

.full-width-field {
  width: 100%;
}

.password-rule-valid {
  color: var(--bs-success);
}

.password-rule-invalid {
  color: var(--mat-form-field-error-text-color);
}
