<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="fps-software" value="https://gitea.fpssoftware.uk/api/packages/fps-software/nuget/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <fps-software>
      <add key="Username" value="%GITEA_NUGET_USERNAME%" />
      <add key="ClearTextPassword" value="%GITEA_NUGET_TOKEN%" />
    </fps-software>
  </packageSourceCredentials>
</configuration>
