<div class="ios-install-guide">
  <div class="icon-badge" aria-hidden="true">
    <mat-icon>add_to_home_screen</mat-icon>
  </div>

  <h2>{{ 'PwaInstallIosGuideTitle' | translate }}</h2>
  <p>{{ 'PwaInstallIosGuideDescription' | translate }}</p>

  <ol>
    <li>{{ 'PwaInstallIosGuideStep1' | translate }}</li>
    <li>{{ 'PwaInstallIosGuideStep2' | translate }}</li>
  </ol>

  <div class="actions">
    <button mat-flat-button color="primary" type="button" (click)="close()">
      {{ 'ButtonUnderstood' | translate }}
    </button>
  </div>
</div>
