<div class="container text-center">
  <div class="row justify-content-md-center">
    <form [formGroup]="expenseItemForm" (ngSubmit)="save()">

      <!-- Name Field -->
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>{{ 'FieldExpenseName' | translate }} </mat-label>
        <input matInput id="name" placeholder="{{ 'PlaceholderExpenseName' | translate }}" formControlName="name">
        @if (name?.invalid && name?.touched){
          @for (error of getFormFieldErrors('name'); track error) {
            <mat-error>{{ error |  translate }}</mat-error>
          }
        }
      </mat-form-field>

      <!-- Date Field with Date Picker -->
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>{{ 'FieldDate' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        @if (date?.invalid && date?.touched){
          @for (error of getFormFieldErrors('date'); track error) {
            <mat-error>{{ error |  translate }}</mat-error>
          }
        }
      </mat-form-field>

      <!-- Amount Field -->
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>{{ 'FieldAmount' | translate }}</mat-label>
        <input matInput
          inputmode="numeric"
          type="text"
          currencyMask
          [options]="{ prefix: currencySymbol, allowNegative: false, thousands: thousandSeparator, decimal: decimalSeparator, precision: 2 }"
          formControlName="amount">
        @if (amount?.invalid && amount?.touched){
          @for (error of getFormFieldErrors('amount'); track error) {
            <mat-error>{{ error |  translate }}</mat-error>
          }
        }
      </mat-form-field>

      <!-- General Error Display -->
      @if (httpErrors && errors['general']) {
        <div>
          @for (error of errors['general']; track error) {
            <p class="mb-3 text-danger text-center">{{ error | translate }}</p>
          }
        </div>
      }

      <!-- Submit Button -->
      <div class="float-end">
        <button mat-raised-button color="primary" type="submit" [disabled]="expenseItemForm.invalid">
          {{ 'ButtonCreate' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
