<div class="container">
  <div class="row justify-content-center">
    <form [formGroup]="accessForm" (ngSubmit)="addUser()">

      <!-- User Input with Autocomplete -->
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>{{ 'FieldUserEmail' | translate }}</mat-label>
        <input matInput
          placeholder="{{ 'PlaceholderEmailAddress' | translate }}"
          id="user"
          formControlName="user"
          [matAutocomplete]="auto" />
        @if (user?.invalid && user?.touched){
          @for (error of getFormFieldErrors('user'); track error) {
            <mat-error>{{ error |  translate }}</mat-error>
          }
        }

        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          @for (user of filteredUsers$ | async; track user) {
            <mat-option [value]="user">
              {{ user.fullName }} - {{ user.email }}
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <!-- Role Input -->
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>{{ 'FieldRole' | translate }}</mat-label>
        <mat-select formControlName="role">
          @for (role of roles; track role) {
            <mat-option [value]="role">{{ role2LabelMapping[role] | translate }}</mat-option>
          }
        </mat-select>
        @if (role?.invalid && role?.touched) {
          <mat-error>
            @for (error of getFormFieldErrors('role'); track error) {
              <span>{{ error |  translate }}</span>
            }
          </mat-error>
        }
      </mat-form-field>

      <!-- General Error Display -->
      @if (httpErrors && errors['general']) {
        <div>
          @for (error of errors['general']; track error) {
            <p class="mb-3 text-danger text-center">{{ error | translate }}</p>
          }
        </div>
      }

      <!-- Submit Button -->
      <div class="float-end">
        <button mat-raised-button color="primary" type="submit" [disabled]="accessForm.invalid">
          {{ 'ButtonInvite' | translate }}
        </button>
      </div>
    </form>
  </div>

  <hr class="mb-4" />

  <!-- List of User -->
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>{{ 'User' | translate }}</th>
              <th>{{ 'Role' | translate }}</th>
              <th class="d-none d-md-table-cell">{{ 'Accepted' | translate }}</th>
              <th>{{ 'Actions' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            @for (user of currentUsers$ | async; track user) {
              <tr>
                <!-- User -->
                <td class="text-break">
                  @if (user.userName){
                    <div>{{ user.userName }}</div>
                    <small class="text-muted">{{ user.userEmail }}</small>
                  } @else {
                    <div>{{ user.userEmail }}</div>
                  }
                </td>
                <!-- Role -->
                <td>
                  <mat-form-field appearance="outline" class="role mat-form-field-sm w-100">
                    <mat-select [(ngModel)]="user.role" (selectionChange)="updateUserRole()">
                      @for (role of roles; track role) {
                        <mat-option [value]="role">{{ role2LabelMapping[role] | translate }}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </td>
                <!-- Accepted -->
                <td class="d-none d-md-table-cell">{{ (user.accepted ? 'Yes' : 'No') | translate }}</td>
                <!-- Actions -->
                <td>
                  <button mat-icon-button color="warn" (click)="removeUser(user.id)" aria-label="Remover usuário">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
