<button class="btn btn-default btn-floating-add" type="button" aria-expanded="false" (click)="clicked('default')" [class.dropdown-toggle]="buttons" [attr.data-bs-toggle]="buttons ? 'dropdown' : null">
  <i class="bi bi-plus"></i>
</button>
@if(buttons){
<ul class="dropdown-menu">
  @for (button of buttons; track $index; let isLast = $last) {
    <li><a class="btn dropdown-item" (click)="clicked(button)">{{ getLabelKey(button) | translate }}</a></li>
    @if (!isLast) {
      <li><hr class="dropdown-divider"></li>
    }
  }
</ul>
}
