name: Release

permissions: read-all

on:
  push:
    branches: [ "master" ]

concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
    
      - name: Cache node_modules
        uses: actions/cache@v4
        with:
          path: ./easyfinance.client/node_modules
          key: node-modules-${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}

      - name: Publish
        run: dotnet publish --configuration Release

      - name: Archive publish files
        uses: actions/upload-artifact@v4
        with:
          name: publish
          path: ./EasyFinance.Server/bin/Release/net8.0/publish/
          retention-days: 5

      - name: Replace values on appsettings.json
        shell: bash
        env:
          TOKEN: ${{ secrets.BETTERSTACK_SOURCE_TOKEN }}
          ENDPOINT: ${{ secrets.BETTERSTACK_ENDPOINT }}
        run: |
          FILE="${{ github.workspace }}/EasyFinance.Server/bin/Release/net8.0/publish/appsettings.json"
          if [ ! -f "$FILE" ]; then
            echo "File not found: $FILE"
            exit 1
          fi
      
          sed -i -E "s|\"sourceToken\"\s*:\s*\"[^\"]*\"|\"sourceToken\": \"${TOKEN}\"|" "$FILE"
          sed -i -E "s|\"betterStackEndpoint\"\s*:\s*\"[^\"]*\"|\"betterStackEndpoint\": \"${ENDPOINT}\"|" "$FILE"
          
      - name: Deploy
        uses: ChristopheLav/iis-deploy@v1
        with:
          website-name: 'felipesoares-001-site2'
          msdeploy-service-url: ${{ secrets.FTP_SERVER }}
          msdeploy-username: ${{ secrets.FTP_USERNAME }}
          msdeploy-password: ${{ secrets.FTP_PASSWORD }}
          source-path: ${{ github.workspace }}\EasyFinance.Server\bin\Release\net8.0\publish\
          skip-extra-files: 0
